# Ignore node_modules folders
/zkp-frontend/node_modules/
/zkp-backend/node_modules/

# Ignore logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore environment variable files
/zkp-frontend/.env
/zkp-backend/.env

# Ignore build output
/zkp-frontend/dist/
/zkp-frontend/build/
/zkp-backend/dist/
/zkp-backend/build/

# Ignore coverage reports
/zkp-frontend/coverage/
/zkp-backend/coverage/

# Ignore IDE-specific files
.vscode/
/.idea/

# Ignore miscellaneous
*.sublime-workspace
*.sublime-project
